.btn-primary {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #fff;
  border-color: #2d8cf0;
  background-color: #2d8cf0;
  opacity: 1;
}
.btn-primary:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-default {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #515a6e;
  border-color: #dcdee2;
  background-color: #fff;
}
.btn-default:hover {
  color: #2d8cf0;
  border-color: #2d8cf0;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-dashed {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #515a6e;
  background-color: #fff;
  border-color: #dcdee2;
  border-style: dashed;
}
.btn-dashed:hover {
  color: #2d8cf0;
  border-style: dashed;
  border-color: #2d8cf0;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-text {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #515a6e;
  background-color: transparent;
  border-color: transparent;
}
.btn-text:hover {
  color: #2d8cf0;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-success {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: white;
  background-color: #19be6b;
  border-color: #19be6b;
  opacity: 1;
}
.btn-success:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-warning {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #fff;
  background-color: #f90;
  border-color: #f90;
  opacity: 1;
}
.btn-warning:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.btn-error {
  outline: none;
  color: #333;
  padding: 6px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  vertical-align: middle;
  font-size: 0.75rem;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  color: #fff;
  background-color: #ed4014;
  border-color: #ed4014;
  opacity: 1;
}
.btn-error:hover {
  opacity: 0.9;
  transition: opacity 0.2s linear, color 0.2s linear, background-color 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
}
.circle {
  width: 25px;
  height: 25px;
  padding: 0;
  font-size: 16px;
  border-radius: 50%;
}
